$poppins: 'Poppins', sans-serif;

@mixin card($width_size, $height_size) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: $width_size;
  height: $height_size;
  margin-bottom: 50px;
  border-radius: 20px;
  background-color: white;
}

@mixin card-title($font_size, $width_size) {
  font-family: $poppins;
  font-size: $font_size;
  color: hsl(192, 100%, 9%);
  margin: 0 auto;
  text-align: center;
  line-height: normal;
  width: $width_size;
}
